/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:wght@400;700&display=swap');

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: #113;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 23.5px;
    font-weight: 400;
    color: #eee;
    line-height: 43.5px;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    flex: 1;
    display: flex;
    position: relative;
}

.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 43.5px;
    overflow-y: auto;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-row,
.bottom-row {
    flex: 1;
    display: flex;
}

.top-row {
    flex-direction: column;
    padding-bottom: 43.5px;
    overflow-y: none;
}

.bottom-row {
    flex-direction: row;
    border-top: 1px solid #eee;
    padding-top: 43.5px;
    overflow-y: auto;
}

.inner-left,
.inner-right {
    flex: 1;
    overflow-y: auto;
    padding-right: 43.5px;
}

.inner-right {
    padding-left: 43.5px;
}

h1 {
    font-family: 'GFS Didot', serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 58px;
    margin: 0 0 58px 0;
}

.subtitle {
    font-size: 29px;
}

h2 {
    font-size: 43.5px;
    font-weight: 600;
    margin-bottom: 43.5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* link styles */
a,
a:visited {
    color: #eee;
    font-weight: 600;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #4629b7;
    /*text-decoration: none;*/
}

/* responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-section {
        justify-content: center;
        overflow: hidden;
    }

    .profile-image {
        position: relative;
        top: 400px;
        width: initial;
        height: initial;
    }

    .bottom-row {
        flex-direction: column;
        padding: 0;
        border: none;
    }

    .inner-left,
    .inner-right {
        padding-right: 0;
        padding: 43.5px 0;
        border-top: 1px solid #eee;
    }

    .article-container {
        flex-direction: column;
    }

    .left-column, .right-column, .center-column {
        flex: none;
        width: 100%;
    }
}

/* articles */
.article-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.article-container {
    display: flex;
    flex-grow: 1;
    padding: 43.5px;
    gap: 43.5px;
}

.article-meta {
    font-size: 23px;
    margin-bottom: 29px;
    border-top: 1px solid #eee;
    padding-top: 29px;
}

.categories-list {
    list-style-type: none;
    padding: 0;
}

.categories-list li {
    margin-bottom: 14.5px;
}

.right-column h2 {
    font-size: 29px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14.5px 43.5px;
    border-top: 1px solid #eee;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: none;
}

footer a,
footer a:visited {
    font-weight: 400;
}

.social-links a {
    margin: 0 7px;
    font-size: 20px;
}

/* icons */
.header-icons {
    color: #4629b7;
    font-size: 34px;
    line-height: 96px;
    text-decoration: none;
}

.header-icons:hover {
    color: #eee;
}

/* custom scrollbar */
[data-scrollbar] {
    position: relative;
    overflow: hidden;
}

.scroll-content {
    height: 100%;
    overflow-y: scroll;
    margin-right: -20px;
    padding-right: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-content::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.scrollbar-track {
    background: #113;
    position: absolute;
    right: 0;
    top: 0;
    width: 29px;
    height: 100%;
}

.scrollbar-thumb {
    background: #3E3E5A;
    width: 29px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.scrollbar-thumb:hover,
.scrollbar-thumb.active {
    background: #78788C;
}

/* hide default browser scrollbar */
[data-scrollbar] {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

[data-scrollbar]::-webkit-scrollbar {
    display: none;
}
